In [ ]:
import pandas as pd
import numpy as np

# Pandas часть 1. Домашнее Занание. Pro

*2 балла за каждую задачу*

### Задача 1
*(2 балла)*

Используя соответствующую функцию библиотеки Pandas, подгрузите датасет из файла 'train.csv'.

Выведите на экран первые 5 строк датафрейма (метод head).

В качестве индексов датафрейма укажите нулевой столбец.

**Решение:**

In [ ]:
fname = 'train.csv'
data = pd.read_csv(fname, index_col = 0)
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Задача 2
*(2 балла)*

Для подгруженного из предыдущей задачи датасета выполните следующее:
* посчитайте, сколько всего записей,
* определите тип данных в каждом столбце,
* проверьте, есть ли пропуски,
* выведите на экран описательные статистики.

P.S. Используйте соответствующие встроенные методы.

**Решение:**

In [ ]:
data.size

116800

In [ ]:
data.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 80, dtype: object

In [ ]:
data.isna().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 80, dtype: int64

In [ ]:
data.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

### Задача 3
*(2 балла)*

Используя соответствующий встроенный метод, дропните, т. е. удалите из нашей таблички все столбцы, у которых количество пропущенных значений больше 200.

* Найдите все такие столбцы (метод .isna() + подвыборка с условием).
* Определите их названия.
* Дропните их (используйте метод .drop(имена столбцов)).
* Результат сохраните в новой табличке data_1, исходную менять не нужно.

Могут быть полезны следующие параметры и методы:

*   columns - названия столбцов датафрейма
*   df[условие] - подвыборка элементов по условию
*   .drop - удаление строк или столбцов (в зависимости от параметра axis)

**Решение:**

In [ ]:
data.columns
mask = data.columns[data.isna().sum() > 200]
data_1 = data.drop(labels = mask, axis = 1)
print(data.shape)
print(data_1.shape)

(1460, 80)
(1460, 74)

### Задача 4
*(2 балла)*

Данные, с которыми мы работаем в этом домашнем задании, содержат информацию о проданных домах. В датафрейме из прошлой задачи (data_1) найдите все дома, проданные в 2007 году, у которых цена продажи выше 300000 и есть бассейн. Для подвыборки с указанными условиями сначала создайте маску:

* цена продажи SalePrice
* год продажи YrSold
* наличие бассейна можно определить по столбцу PoolArea

**Решение:**

In [ ]:
mask = (data_1.SalePrice > 300000) & (data_1.YrSold == 2007) & (data_1.PoolArea > 0)
data_1[mask]

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1183,60,RL,15623,Pave,IR1,Lvl,AllPub,Corner,Gtl,NoRidge,...,0,0,0,555,0,7,2007,WD,Abnorml,745000

### Задача 5
*(2 балла)*

Добавьте к табличке data_1 новый столбец с названием 'Flag'. Присвойте ему значения 0 или 1 в случайном порядке. Для этого
    
* создайте одномерный массив из случайных целых чисел 0 или 1
* размер массива должен соответствовать количеству наблюдений в датафрейме data_1
* создайте новый столбец и присвойте ему значения одномерного массива

**Решение:**

In [ ]:
array = np.random.randint(0, 2, data_1.shape[0])
data_1['Flag'] = array
print(data_1.shape)

(1460, 75)