# Pandas часть 2. Домашнее Задание. Pro

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('data.csv', encoding = 'cp1250')

### Задача 1. DateTime index

* Подгрузите данные 'data.csv' (возможно, придется указать кодировку encoding cp1250) в переменную data.
* Преобразуйте колонку InvoiceDate в DateTime index.
* Удалите колонку InvoiceDate.

In [ ]:
data.index = pd.to_datetime(data.InvoiceDate)
data.drop('InvoiceDate', axis = 1, inplace = True)

In [ ]:
data

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-01 08:26:00,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2.55,17850.0,United Kingdom
2010-12-01 08:26:00,536365,71053,WHITE METAL LANTERN,6.0,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2.75,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,3.39,17850.0,United Kingdom
2010-12-01 08:26:00,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...
2011-09-28 09:40:00,568576,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48.0,0.29,17017.0,United Kingdom
2011-09-28 09:40:00,568576,21915,RED HARMONICA IN BOX,24.0,1.25,17017.0,United Kingdom
2011-09-28 09:40:00,568576,21914,BLUE HARMONICA IN BOX,24.0,1.25,17017.0,United Kingdom
2011-09-28 09:40:00,568576,22197,POPCORN HOLDER,100.0,0.72,17017.0,United Kingdom
NaT,568576,21731,RED TO,NaN,NaN,NaN,NaN

### Задача 2

Используя датафрейм data, выберите все заказы, совершенные за период 7 декабря 2010 года с часа дня до часа и одной минуты.

In [ ]:
data['2010-12-07 13:00:00' : '2010-12-07 13:01:00']

<ipython-input-5-b3f51fcb995e>:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  data['2010-12-07 13:00:00' : '2010-12-07 13:01:00']

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
InvoiceDate,,,,,,,
2010-12-07 13:01:00,537604,84991,60 TEATIME FAIRY CAKE CASES,24.0,0.55,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21845,DAIRY MAID STRIPE MUG,12.0,2.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21534,DAIRY MAID LARGE MILK JUG,3.0,4.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21527,RED RETROSPOT TRADITIONAL TEAPOT,2.0,7.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21528,DAIRY MAID TRADITIONAL TEAPOT,2.0,6.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21843,RED RETROSPOT CAKE STAND,24.0,9.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22429,ENAMEL MEASURING JUG CREAM,4.0,4.25,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22551,PLASTERS IN TIN SPACEBOY,12.0,1.65,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22557,PLASTERS IN TIN VINTAGE PAISLEY,12.0,1.65,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22555,PLASTERS IN TIN STRONGMAN,12.0,1.65,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22304,COFFEE MUG BLUE PAISLEY DESIGN,12.0,2.55,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22305,COFFEE MUG PINK PAISLEY DESIGN,12.0,2.55,13488.0,United Kingdom
2010-12-07 13:01:00,537604,20749,ASSORTED COLOUR MINI CASES,2.0,7.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22525,CHILDRENS GARDEN GLOVES PINK,10.0,1.25,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22524,CHILDRENS GARDEN GLOVES BLUE,10.0,1.25,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22515,CHILDS GARDEN SPADE PINK,6.0,2.10,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22514,CHILDS GARDEN SPADE BLUE,6.0,2.10,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22518,CHILDS GARDEN BRUSH BLUE,6.0,2.10,13488.0,United Kingdom
2010-12-07 13:01:00,537604,82552,WASHROOM METAL SIGN,12.0,1.45,13488.0,United Kingdom
2010-12-07 13:01:00,537604,20750,RED RETROSPOT MINI CASES,12.0,6.35,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21212,PACK OF 72 RETROSPOT CAKE CASES,24.0,0.55,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21210,SET OF 72 RETROSPOT PAPER DOILIES,12.0,1.45,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22567,20 DOLLY PEGS RETROSPOT,48.0,1.06,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22558,CLOTHES PEGS RETROSPOT PACK 24,48.0,1.25,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21155,RED RETROSPOT PEG BAG,6.0,2.10,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22061,LARGE CAKE STAND HANGING STRAWBERY,6.0,9.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,37446,MINI CAKE STAND WITH HANGING CAKES,8.0,1.45,13488.0,United Kingdom
2010-12-07 13:01:00,537604,37449,CERAMIC CAKE STAND + HANGING CAKES,6.0,9.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22519,CHILDS GARDEN BRUSH PINK,6.0,2.10,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21754,HOME BUILDING BLOCK WORD,6.0,5.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,20969,RED FLORAL FELTCRAFT SHOULDER BAG,4.0,3.75,13488.0,United Kingdom
2010-12-07 13:01:00,537604,20967,GREY FLORAL FELTCRAFT SHOULDER BAG,4.0,3.75,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22570,FELTCRAFT CUSHION RABBIT,4.0,3.75,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22568,FELTCRAFT CUSHION OWL,4.0,3.75,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22569,FELTCRAFT CUSHION BUTTERFLY,4.0,3.75,13488.0,United Kingdom
2010-12-07 13:01:00,537604,20971,PINK BLUE FELT CRAFT TRINKET BOX,12.0,1.25,13488.0,United Kingdom
2010-12-07 13:01:00,537604,84880,WHITE WIRE EGG HOLDER,12.0,4.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,82484,WOOD BLACK BOARD ANT WHITE FINISH,3.0,6.45,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,8.0,2.95,13488.0,United Kingdom
2010-12-07 13:01:00,537604,84879,ASSORTED COLOUR BIRD ORNAMENT,8.0,1.69,13488.0,United Kingdom
2010-12-07 13:01:00,537604,21136,PAINTED METAL PEARS ASSORTED,8.0,1.69,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22185,SLATE TILE NATURAL HANGING,12.0,1.65,13488.0,United Kingdom
2010-12-07 13:01:00,537604,22488,NATURAL SLATE RECTANGLE CHALKBOARD,12.0,1.65,13488.0,United Kingdom
2010-12-07 13:01:00,537604,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,24.0,2.75,13488.0,United Kingdom
2010-12-07 13:01:00,537604,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32.0,2.55,13488.0,United Kingdom

### Задача 3


По той же рабочей табличке
* посчитайте количество уникальных наименований товаров (Description), которые купили за весь период (т. е. по всем данным). Используйте соответствующий метод.
* найдите все уникальные страны, в которых были размещены заказы.

In [ ]:
data.Description.nunique()

3935

In [ ]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', nan], dtype=object)

### Задача 4


* Посчитайте матрицу корреляции Спирмена для наших данных.
* Найдите 1%, 50% и 99% квантили цены за единицу товара.

*Для решения данной задачи потребуется самостоятельно найти способ получения матрицы Спирмена. Обратите внимание, на вебинаре продемонстрирован пример матрицы Пирсона.*

In [ ]:
data.corr(method='spearman')

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.406294   -0.153087
UnitPrice  -0.406294   1.000000   -0.003374
CustomerID -0.153087  -0.003374    1.000000

In [ ]:
data.groupby('UnitPrice').quantile(0.01)

<ipython-input-9-0a052d9f852b>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  data.groupby('UnitPrice').quantile(0.01)

            Quantity  CustomerID
UnitPrice
-11062.060       1.0         NaN
 0.000       -1440.0    12424.24
 0.001           1.0    13421.41
 0.010        -720.0    16422.00
 0.030       -9177.6    12959.74
...              ...         ...
 13474.790      -1.0         NaN
 13541.330      -1.0         NaN
 16453.710      -1.0         NaN
 16888.020      -1.0         NaN
 38970.000      -1.0    15098.00

[1365 rows x 2 columns]

In [ ]:
data.groupby('UnitPrice').quantile(0.5)

<ipython-input-15-f54dd8713cb9>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  data.groupby('UnitPrice').quantile(0.5)

            Quantity  CustomerID
UnitPrice
-11062.060       1.0         NaN
 0.000          -1.0     14646.0
 0.001           1.0     14785.0
 0.010        -720.0     16422.0
 0.030        -240.0     15838.0
...              ...         ...
 13474.790      -1.0         NaN
 13541.330      -1.0         NaN
 16453.710      -1.0         NaN
 16888.020      -1.0         NaN
 38970.000      -1.0     15098.0

[1365 rows x 2 columns]

In [ ]:
data.groupby('UnitPrice').quantile(0.99)

<ipython-input-16-d51e8fec58e1>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.quantile is deprecated. In a future version, a TypeError will be raised. Before calling .quantile, select only columns which should be valid for the function.
  data.groupby('UnitPrice').quantile(0.99)

            Quantity  CustomerID
UnitPrice
-11062.060      1.00         NaN
 0.000        374.24    17643.46
 0.001          1.00    16180.60
 0.010       -720.00    16422.00
 0.030       -122.40    16410.32
...              ...         ...
 13474.790     -1.00         NaN
 13541.330      0.96         NaN
 16453.710     -1.00         NaN
 16888.020     -1.00         NaN
 38970.000     -1.00    15098.00

[1365 rows x 2 columns]

### Задача 5


Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого
* сделайте подвыборку, соответствующую условию "в понедельник",
* посчитайте количество уникальных ID клиентов.

*Для решения этой задачи потребуется использовать параметр индекса weekday (по аналогии с рассмотренными на вебинаре примерами .index.month, .index.day)*.

In [ ]:
data.CustomerID[data.index.weekday == 0].nunique()

1338